@font-face {
    font-family: 'ulsanjunggu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ulsanjunggu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width:700px){ /*스크린 크기 700px까지는 아래 css코드 사용*/
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }
    .navbar_menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
      
      .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    
}
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn_icon{
  font-family : 'ulsanjunggu';
}
.dropbtn{
  border : 1px solid rgb(37, 37, 37);
  border-radius : 4px;
  background-color: #f5f5f5;
  font-weight: 400;
  color : rgb(37, 37, 37);
  padding : 12px;
  width :200px;
  text-align: left;
  cursor : pointer;
  font-size : 12px;
}
.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 200;
  background-color: #f9f9f9;
  min-width : 200px;
}

.dropdown-content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 10px;
  padding : 12px 20px;
}

.dropdown-content a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}
.navbar {
    display: flex; /*세로 -> 가로*/
    justify-content: space-between; /*박스 사이 공간*/
    align-items: center; /*가운데 정렬*/
    background-color:rgba(250, 207, 87, 0.89);
    padding: 8px 12px;
    position:sticky; /*메뉴바 sticky*/
    top:0px;
    z-index: 3;
  }

a{
    text-decoration: none;
    color:black;
}

body{
    margin:0;
    font-family: 'ulsanjunggu';
}

.navbar_name{
    margin-left:20px;
    font-size:17px;
}

.navbar_menu{
    list-style:none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.navbar_menu li{
    padding: 10px 65px;
}

.navbar_menu li a:hover{
    color:#f76503
}

.navbar_menu li a{
    font-size: 25px;
}


.navbar_login{
    list-style:none;
    display:flex;
    padding-right:15px;
    font-size:20px;
}

.navbar_login a:hover{
    color:rgb(0, 162, 255);
}


.slider{
  width: 800px;
  height: 600px;
  position: relative;
  padding-top: 20px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
  z-index: 0
}

.slider input[type="radio"] {
  display: none;
}

ul.imgs {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.imgs li {
  position: absolute;
  left: 640px;
  transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */
  width: 800px !important;
  padding: 0;
  margin: 0;
}

.bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 2;
}

.bullets label {
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.55);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
  background-color: rgba(250, 207, 87, 0.89);
}

.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
  background-color: rgba(250, 207, 87, 0.89);
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
  background-color: rgba(250, 207, 87, 0.89);
}

.slider input[type="radio"]:nth-child(1):checked ~ ul.imgs > li:nth-child(1) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}
.slider input[type="radio"]:nth-child(2):checked ~ ul.imgs > li:nth-child(2) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}
.slider input[type="radio"]:nth-child(3):checked ~ ul.imgs > li:nth-child(3) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}

/*#mainpage{
    display:block;
    text-align: center;
    margin: 15px -1px 30px 0px; /*top, right, bottom, left
    background-color:white;
}

 #mainpage a{
    text-decoration-line:none;
 }

#mainpage a:link, a:visited, a:hover {color:white;}*/
